<meta charset="UTF-8"> 
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/js/userhome.js"></script>

      <link href="/css/userhome.css" rel="stylesheet" type="text/css"/>
      <link href="/css/body.css" rel="stylesheet" type="text/css"/>
      <link href="/css/err.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>
      <div id="user_container">
        <p><b>User: {{.Username}}</b></p>
        <p>Rockin member since: {{.DateJoined}}</p>
        <p class="logout"><button onclick="tryLogout()">logout</button></p>
      </div>
      <hr/>
      <div id="campaign_container">
        <span id="errSpan" class=""></span>
        <h2>Campaigns</h2>
        <div id="spinner_container">
          <img src="/img/spinner.gif" alt="loading animation" style="float:left;"/>
        </div>
        <div id="campaign_tabs" class="tab">
        </div>
      </div>
    </div>
  </body>
</html>