body {
    background: #21e0c0; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #21e0c0, #4cf3ff);
    background: -moz-linear-gradient(right, #21e0c0, #4cf3ff);
    background: -o-linear-gradient(right, #21e0c0, #4cf3ff);
    background: linear-gradient(to left, #21e0c0, #4cf3ff);
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }