.err {
    font-family: "Arial", sans-serif;
    color: #f2f2f2;
    outline: 0;
    background: #f11919;
    width: 100%;
    border: 0;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    visibility: hidden;
}