/* Logout Button Style */
.logout button {
  float: right;
  margin-right: 25px;
  border: none;
  background: #a1a1a1;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.logout button:hover,.logout button:active,.logout button:focus {
  background: #056774;
}

/* Tab Style */
.tab {
  float: left;
  border: 1px solid #ffffff;
  background-color: #43baff;
  width: 15%;
  visibility: hidden;
}

/* Tab Button Style */
.tab button {
  display: block;
  background-color: inherit;
  color: #ffffff;
  font-weight: bold;
  padding: 22px 16px;
  width: 100%;
  border: none;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}

/* Tab Button Hover Style */
.tab button:hover {
  background-color: #1d3fad;
}

/* Tab Button Active Style */
.tab button.active {
  background-color: #2c5dff;
}

/* Overall Campaign/Platlogout Content Style */
.ctabcontent,
.ptabcontent {
  float: left;
  padding: 0px 12px;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  width: 80%;
}
